extend layout

include _includes/sharedHTMLfunctions

block content
  .page-header
    .row
      .col-lg-6
        h1= location.name

  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12.col-md-6
          +rate(location.rating)
          p= location.address

          .panel.panel-primary
            .panel-heading
              h4 Opening Hours
            .panel-body
              each hour in location.openingHours
                if hour.closed
                  p #{hour.days}: closed
                else
                  p #{hour.days}: #{hour.opening} - #{hour.closing}

          .panel.panel-primary
            .panel-heading
              h4 Facilities
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{facility}
                &nbsp;

        .col-xs-12.col-md-6.pull-right
          .panel.panel-primary
            .panel-heading
              h4 Location Map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}')
      .row
        .col-xs-12.col-md-12
          .panel.panel-primary
            .panel-heading
              a.btn.btn-default.pull-right(href='/locations/#{location._id}/reviews/new') Add Review
              h4 Customer reviews
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      +rate(review.rating)
                      &nbsp;
                      span= review.author
                        &nbsp;
                        +format_date(review.createOn)
                    .col-xs-12
                      p= review.reviewText


    .col-xs-12.col-md-4
      p.lead #{location.name} #{sidebar.context}
      p #{sidebar.cta}
